@import "tailwindcss";

:root {
  --background: #ffffff;
  --text: #000000;
  --color: #0f743b;
  --borderGray: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --font-heading: var(--font-Alegreya-Bold);
  --font-text: var(--font-Nunito-Medium);
  --color-text: var(--text);
  --color-main: var(--color);
  --color-border-gray: var(--borderGray);
}

@layer utilities {
  .container {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@utility container-hero {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@utility flex-hero {
  height: calc((100vw - 64px) / 1.929);
}

@layer components {
  .base-link {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }

  .button {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
  }

  .bg-hero {
    background-image: linear-gradient(to bottom, transparent 75%, #0f743b),
      url(/images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
