@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  /* #0f743b */
  --color-background: var(--background);
  --font-heading: var(--font-Playfair-Bold);
  --font-text: var(--font-OpenSans-Regular);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
